@page "/"

<PageTitle>SVG</PageTitle>

<h1>Výukový grafický editor</h1>

<div>
    <button>🔴Přidat kruh</button>
    <button>😊Přidat kruh</button>
    <span stzle="margin: 0 15px;"> | </span>

    <button>👌Posunout vše</button>
    <button>🗑️Smazat vybraný</button>
    <button>😂Smazat poslední</button>
    
</div>
